<!-- <div class="container-fluid">
    <h1 class="text-center my-5 text-white">Conversor de medidas</h1>
    <p class="text-center text-white mb-5 small">Digite o valor e a unidade a ser convertido,<br>escolha para qual
        unidade quer converter.</p>
        <app-conversor></app-conversor>
</div> -->
<div class="container-fluid ">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="nav-header">
                <a class="navbar-brand" href="#">
                    {{ title }}
                </a>
            </div>
        </div>
    </nav>
    <div>
        <h1 class="text-center md-4 text-white">Conversor de medidas</h1>
        <p class="text-center text-white mb-5 small">Digite o valor e a unidade a ser convertido,<br>escolha para qual
            unidade quer converter.</p>
    </div>
    <app-conversor></app-conversor>
</div>